{% extends 'base.html.twig' %}

{% block title %}Learn Or Laught
{% endblock %}

{% block body %}

	<div class="page">

		<div class="title">
			<h1 class="font-title">Learn Or Laught</h1>
		</div>

		<div class="block col-10 col-lg-4 mx-auto d-flex flex-column align-items-center">

			<p class="main-text pt-3">Je suis Plutôt</p>

			<div class="categories-list">
				<button onclick="showButton(value)" class="btn-smart btn btn-category w-50" value="quotes" class="global">Intelligent</button>
				<button onclick="showButton(value)" class="btn-funny btn btn-category w-50" value="jokes" class="dev">Drôle</button>
				<button onclick="showAnswer()" class="both-btn btn btn-category w-50" value="" class="dev">Les deux !</button>
			</div>
		</div>

		<script defer type="text/javascript" src="{{ asset('js/main.js') }}"></script>

	{% endblock %}
