{% extends 'base.html.twig' %}

{% block title %}Catégories d'anecdotes
{% endblock %}

{% block body %}

	<div class="page">

		<div class="title">
			<h1 class="font-title">Catégories d'anecdotes</h1>
		</div>

		<ul class="categories-list col-lg-8 mx-auto"></ul>

		<div class="block-list"></div>

	</div>

	<script defer type="text/javascript" src="{{ asset('js/quotes/quotesByCategory.js') }}"></script>

{% endblock %}
