body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,84,166,1) 0%, rgba(132,189,201,1) 90% );
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 100vh;
}

.main-text {
    font-size: 2em;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    color: #07689F;
}

.dropdown-menu {
    background-color: #F67280;
    border: 0.1em white solid;
    font-family: 'Roboto', sans-serif;

    border-radius: 10px;
}

.dropdown-item {
    color: white;
}

.btn-nav:hover {
    color: #F67280;
}

.block {
    background-color:#C9D6DF;
    border-radius: 30px;
    margin-top: 3em;
    padding: 1em 2em 2em 2em;
    border: 0.2em white solid;
    text-align: center;
}

.title {
    text-align: center;
    background-color:#C9D6DF;
    padding: 3em 0;
    border-bottom: 0.5em white solid;
    border-top: 0.5em white solid;
}

.font-title {
    font-family: 'Lobster', cursive;
    font-size: 4em;
}

.btn {
    background-color: #F67280; 
    border: 0.1em white solid;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 30px;
    margin-top: 2em;
}

.category {
    background-color: #07689F;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2em;
    border-radius: 10px;
    width: 30%;
    justify-content: center;
}

.page {
    text-align: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,84,166,1) 0%, rgba(132,189,201,1) 90% );
    background-repeat: no-repeat;
    min-height: 100vh;

}

.new-joke-btn {
    background-color: #F67280;
    font-size: 1.5em;
    margin: 2em;
}

.response {
    margin-top: 2em;
}

.btn-category, .btn-main {
    margin: 2em;
    width: 30%;
    list-style-type: none;
    background-color: #F67280; 
    border: 0.1em white solid;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 30px;
    font-size: 1.3em;
}

.btn-category:hover, .btn:hover, .btn-main:hover {
    background-color: #11D3BC;
}

.categories-list {
    text-align: center;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    color: white;
}

@media (max-width: 992px) { 
    .page, .btn, .category, .text, .title-text {
        font-size: 1.5em;
    }

    .nav  {
        font-size: 2em;
        padding: 1em 0;
    }

    .dropdown-item {
        font-size: 3em;
    }

    .btn-category, .btn-main {
        width: 30%;
        font-size: 1.5em;
    }

    .btn {
        padding: 0.1em 0.5em;
    }
}

