{% extends 'base.html.twig' %}

{% block title %}Catégories de blagues{% endblock %}

{% block body %}

<h1>Liste des catégories</h1>

<ul>
    <button onclick="categories.showCategories(value)" value = "global" class="global"><li>Classique</li></button>
    <button onclick="categories.showCategories(value)" value = "dev" class="dev"><li>Geek</li></button>
    <button onclick="categories.showCategories(value)" value = "dark" class="dark"><li>Humour noir</li></button>
    <button onclick="categories.showCategories(value)" value = "limit" class="limit"><li>Limite</li></button>
    <button onclick="categories.showCategories(value)" value = "beauf" class="beauf"><li>Beauf</li></button>
    <button onclick="categories.showCategories(value)" value = "blondes" class="blondes"><li>Blondes</li></button>
</ul>

<p class="category"></p>
<p class="random"></p>
<button onclick="categories.answer()">Réponse</button>
<p class="response"></p>

<button onclick="categories.showCategories(value)" value ="" class="nextJokeByCategory">Blague suivante</button>

<script defer type="text/javascript" src="{{ asset('js/categories.js') }}"></script>

{% endblock %}
